# dependencies
/node_modules
/pack
# ignore IDE/hidden/OS cache files
*.json
!package.json
.vscode
*.zip
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# ignore Composer downloads
/vendor/*

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml